* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  border-radius: 10px;

  text-align: center;
  background-image: url(./Assets/cold-bg.jpg);
  background-size: cover;
  background-position: 10px;
  transition: 0.8s ease-out;
}
main {
  min-height: 100vh;
  margin-top:1.5% !important;
  margin-bottom: 50px;
  border-radius: 10px;

  padding: 25px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
}
.App.warm {
  transition: 0.5s ease-out;
  background-image: url(./Assets/warm-bg.jpg);
}
.search-box {
  margin-top:5px !important;
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  height: 60px;
  margin: auto;
  padding: 15px;
  font-size: 15px;
  appearance: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;
  margin-top: -25px;
  color: black;
}

.search-bar:focus {
  outline: none;
  padding: 25px;
  height: 80px;
  transition: 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0px 0px 16px 16px;
  color: white;
  font-size: 20px;
  color: black;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
}
::placeholder {
  color: black;
}
.location {
  padding: 25px;
}
.location-box .location {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 800;
  width:100%;
  font-style: bold;
  color: white;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date {
  color: white;
  font-size: 25px;
  font-style: bold;
  font-weight: 500;
  margin-top: 2%;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}
.weather {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 20px 25px;
  color: white;
  font-size: 102px;
  font-weight: 600;
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

  padding: 5px;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}
.location-box {
  margin-top: 12px;
}
.weather-box {
  padding: 5px;
  font-size: 48px;
  font-style: bold;
  color: white;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.note{
  margin-top: 15%;
  color:white;
  font-weight: 500;
}
